.container-about {
    padding: 0 5.6vw;
    background-color: #D9D9D9;
}

.title{
    padding-top: 40px;
    padding-left: 28px;
    width: 100%;
}

.h2-about{
    color: #1E635F;
}

.items{
    display: flex;
    justify-content: space-between;
    padding: 0 128px;
}
.item-container{
    display: flex;
    justify-content: center;
}
.circulo{
    background-color: #1E635F;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.p-about {
    color: #1E635F;
    margin: 16px;
}